@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary fst-italic fw-bold">FairyTooth</h1>
    <h3>Plataforma de Gestão da Saúde Bucal Personalizada</h3>
    <hr class="border border-info border-2 opacity-100">
</div>
