@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="text-primary fst-italic fw-bold mt-5">FairyTooth</h1>
    <h3 class="fst-italic">Plataforma de Gestão da Saúde Bucal Personalizada</h3>
    <hr class="border border-primary border-2 opacity-100">

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">
                    <div class="card text-bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title text-primary fst-italic fw-bold">Usuario</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">
                    <div class="card text-bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title text-primary fst-italic fw-bold">Cliente</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Dentista" asp-action="Index">
                    <div class="card text-bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title text-primary fst-italic fw-bold">Dentista</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-dark" asp-area="" asp-controller="Consulta" asp-action="Index">
                    <div class="card text-bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title text-primary fst-italic fw-bold">Consulta</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
