@model Challenge.MVC.Models.DentistaEntity

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DentistaEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cpf_cnpj" class="control-label"></label>
                <input asp-for="cpf_cnpj" class="form-control" />
                <span asp-validation-for="cpf_cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cepClinica" class="control-label"></label>
                <input asp-for="cepClinica" class="form-control" />
                <span asp-validation-for="cepClinica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeClinica" class="control-label"></label>
                <input asp-for="nomeClinica" class="form-control" />
                <span asp-validation-for="nomeClinica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoClinica" class="control-label"></label>
                <input asp-for="tipoClinica" class="form-control" />
                <span asp-validation-for="tipoClinica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alvaraFuncionamento" class="control-label"></label>
                <input asp-for="alvaraFuncionamento" class="form-control" />
                <span asp-validation-for="alvaraFuncionamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siteRedesSocial" class="control-label"></label>
                <input asp-for="siteRedesSocial" class="form-control" />
                <span asp-validation-for="siteRedesSocial" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-outline-success fw-bold" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary fw-bold mt-3" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
