@model Challenge.MVC.Models.ConsultaEntity

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary fst-italic fw-bold ">Edit</h1>

<h4>ConsultaEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idConsulta" />
            <div class="form-group">
                <label asp-for="dateConsulta" class="control-label"></label>
                <input asp-for="dateConsulta" class="form-control" />
                <span asp-validation-for="dateConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoConsulta" class="control-label"></label>
                <input asp-for="tipoConsulta" class="form-control" />
                <span asp-validation-for="tipoConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorMedioConsulta" class="control-label"></label>
                <input asp-for="valorMedioConsulta" class="form-control" />
                <span asp-validation-for="valorMedioConsulta" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-outline-success fw-bold" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary fw-bold mt-3" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
